   *{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-size: 20px;
 }
 nav {
 display: flex;
 justify-content: space-around;
 align-items: center;
 min-height: 8vh;
 font-family: 'poppins',sans-serif;
 background-color: #0f1111;
 }
 .logo {
  color: rgb(226,226,226);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px;
 }
.nav-links {
  
  display: flex;
  justify-content: space-around;
width: 40%;
}

.nav-links li{
  list-style: none;
}
.new-li{
  list-style-type: unset;
}

.nav-links a{
  display: flex;
color:rgb(226,226,226) ;
text-decoration: none;
letter-spacing: 3px;
font-weight: bold;
font-size: 14px;
padding-top: 10px;

}
.burger div{
 width: 25px;
 height: 3px;
 background-color:rgb(226,226,226) ;
margin: 5px;
}

.burger{
  display: none;
  cursor: pointer;
}

@media screen and (max-width:1024px) {
 .nav-links{
   width: 80%;
 } 
} 
@media screen and (max-width:768px) {
  body {
    overflow-x:hidden;
  }
  
 .nav-links{

  position: absolute;
  right: 0px;
  height: 92vh;
  top: 8vh;
  background-color:black;
  display: flex;
  flex-direction: column;
 align-items: center;
 width: 30%;
 transform: translateX(100%);
 transition:transform 0.5s ease-in;
 }
  .nav-links li {
  opacity: 1;
  
  }
 .burger{
   display: block;
 } 

}
 .nav-active{

  transform: translateX(0%);
 }
 @keyframes navlinkfade{
 from{ opacity: 0;
       transform: translateX(50px);
     }
to{ opacity: 1;
     transform: translateX(0px);

}
 }
 .toggle.line1{
   transform:(-45deg translate(-5px ,6px)) ;
 }
  .toggle.line2{
   opacity: 0;
 }

 .toggle.line3{
  transform:(45deg translate(-5px ,-6px)) ;
}
body  {
  background-color: white;
 /* background-image: url(bookimage.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  
  background-color: mintcream;*/
  
} 
.row {
  display: flex;
 
 
  
}
 #div-1 {
   width: 20%;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 300px;
   margin: 10px;
   
   
 }
 
 .desc{
   width: 280px;
   height:150px;
   margin-left: 250px;
   border: 0px solid blue;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: black
 }
  .price{
    color: black;
    width: 280px;
   height:150px;
   margin-left: 250px;
   margin-top: 10px;
   border: 0px solid blue;
   padding: 5px;
   background-color: burlywood;
  }
   

 .new-header{
  color:white;
 text-align: left;
 font-size: x-large;
 padding: 10px;
 border: 5px;
 border-style: double;
  margin-left: 250px;
margin-right: 10%;
margin-top: 5px;
background-color:black ;
border-radius: 20px;
font-family:monospace;
opacity: 1;

 }
 
 
 
 #new-h3 {
  font-size: x-large;
  color: black;
  margin-top :20px;
 margin-bottom: 20px;
 border-bottom:5px solid mediumturquoise;
 margin-left: 260px;
 margin-right: 10%;

 }


 
#new-button {
  border-width: 3px;
  margin-right: 0px;
border-radius: 20px;
border-color:black;
background-color: mediumturquoise;
text-align: right;
font-size: x-large;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border-style: solid ;
padding-left: 7px;
padding-right: 7px;
align-items: right;
padding-top: 3px;
padding-bottom:3px ;
}
 h1 {
   color:black;
   font-size: xx-large;
   font-weight: bold;
   font-family: sans-serif;
   /*background-color:#20b2aa;*/
    text-align: left;
    padding: 20px ;
   margin-top: 0px;
   background-color:burlywood;
 }
  
  p {
 color:black;
 border: 8px;
  border-color: orangered;
text-align: center;
margin-top: 100px;
margin-bottom: 40px;
margin-left:40px;
margin-right: 40px;
 }

 

img {
 margin-left: 270px;

}

.new-content {

 text-align: left;


}

 /*.row{
  background-color: mediumturquoise;
  background-position: left;
}*/

#new-h4{
  font-size: x-large;
  font-family: sans-serif;
  margin-top: 180px;
  border-bottom:5px solid mediumturquoise;
  margin-left: 260px;
  margin-right: 10%;



}
 .new-header2{
 margin-top: 160px;
 color:white;
 text-align: left;
 font-size: x-large;
 padding: 10px;
 border: 5px;
 border-style: double;
  margin-left: 250px;
margin-right: 10%;
background-color:black ;
border-radius: 20px;
font-family:monospace;
opacity: 1;


 }
/*#new-button2{

  border-width: 3px;
  margin-right: 0px;
border-radius: 20px;
border-color:black;
background-color:whitesmoke;
text-align: right;
font-size: x-large;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border-style: solid ;
padding-left: 7px;
padding-right: 7px;
align-items: right;
padding-top: 3px;
padding-bottom:3px ;
}*/

.new-header3{
  margin-top: 180px;
  color:white;
  text-align: left;
  font-size: x-large;
  padding: 10px;
  border: 5px;
  border-style: double;
   margin-left: 250px;
 margin-right: 10%;
 background-color:black ;
 border-radius: 20px;
 font-family:monospace;
 opacity: 1;



}
  










