<!DOCTYPE html>
<head><title>Ebooks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit="no">
    <link rel = "stylesheet" href = "css/ebooks.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
       
    </style>
</head>
<body>
    <!--1. NAVIGATION -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="#" class="navbar-brand"></a>
    <img src="images/2.png" height="50" alt="BOOKS">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="/" class="nav-item nav-link active text-light"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
            <a href="#Aboutus" class="nav-item nav-link text-light"></a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-light" data-toggle="dropdown" aria-expanded="false">Contents</a>
                   <!-- Dropdown -->
                <div class="dropdown-menu">
                    <a href="#science" class="dropdown-item">Science</a>
                    <a href="#maths" class="dropdown-item">Maths</a>
                    <a href="#english" class="dropdown-item">English</a>
                </div>
            </div>
        </div>
        <form class="form-inline">                                                                         <!-- Search BAR-->
            <div class="input-group">                    
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-append">
                    <button type="button" class="btn btn-warning"><i class="fa fa-search fa-search"></i></button>
                </div>
            </div>
        </form>
        <div class="navbar-nav">
          <a href="/signin" class="nav-item nav-link text-light">Login</a>
          <a href="/signup" class="nav-item nav-link btn text-dark btn-warning">Sign up</a>
          </div>
          </div>
          </nav>
          <br>
          <br>
          <div class="container">
              <div class="title">
                  <h2>Fantasy and Magic</h2>
                  <div class="books">
                      <div class="each">
                          <img src="images/sab.jpg"/> 
                          <div><a href="pdf/sab.pdf"><h4>Shadow and Bones<br>Leigh Bardugo</h4></a></div>
                      </div>
                      <div class="each">
                        <img src="images/sas.jpg"/> 
                        <div><a href="pdf/sas.pdf"><h4>Seige and Storm<br>Leigh Bardugo</h4></a></div>
                    </div>
                    <div class="each">
                        <img src="images/rar.jpg"/> 
                        <div><a href="pdf/rar.pdf"><h4>Ruin and Rising<br>Leigh Bardugo</h4></a></div>
                    </div>
                    <div class="each">
                        <img src="images/soc.jpg"/> 
                        <div><a href="pdf/soc.pdf"><h4>Six Of Crows<br>Leigh Bardugo</h4></a></div>
                    </div>
                                         
                  </div>
              </div>
          </div>
          <div class="container">
            <div class="title">
                <h2>Fiction</h2>
                <div class="books">
                    <div class="each">
                        <img src="images/call me.jpg"/> 
                        <div><a href="pdf/call.pdf"><h4>Call Me By Your Name<br>Andre Aciman</h4></a></div>
                    </div>
                    <div class="each">
                      <img src="images/tml.jpg"/> 
                      <div><a href="pdf/tml.pdf"><h4>The Midnight Library<br>Matt Haig</h4></a></div>
                  </div>
                  <div class="each">
                      <img src="images/alc.jpg"/> 
                      <div><a href="pdf/alc.pdf"><h4>The Alchemist<br>Paulho Coelho</h4></a></div>
                  </div>
                  <div class="each">
                      <img src="images/note.jpg"/> 
                      <div><a href="pdf/note.pdf"><h4>The Notebook<br>Nicholas Sparks</h4></a></div>
                  </div>
                  </div>
                  </div>
                  </div>


          <div class="footer">
            <div class="effect">
              
                <div><h2>Follow Us</h2></div>
                <div class="buttons">
                  <a href="#" class="fb" title="Join us on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#" class="tw" title="Join us on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#" class="g-plus" title="Join us on Google+"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                  <a href="#" class="dribbble" title="Join us on Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                  <a href="#" class="vimeo" title="Join us on Vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
                <a href="#" class="pinterest" title="Join us on Pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                  <a href="#" class="insta" title="Join us on Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="#" class="in" title="Join us on Linked In"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
              </div>
              
              </div>
          </div> 

</body></html>